name: PHP Composer

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up PHP
      uses: shivammathur/setup-php@v2
      with:
          php-version: '8.4'
          extensions: mbstring, mongodb, intl, xml
          coverage: none
    - name: Install dependencies
      run: composer update

    - name: Local configuration
      run: cp config/autoload/local.php.dist config/autoload/bifurcation.local.php
      
    - name: Run tests
      run: vendor/bin/phpunit
